.customers {
  background: var(--main-bright-color);
}

.customers__container {
}

.customers__title {
}
.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.customers__items {
  width: calc((100% - 30px) / 2);
  @include tablet {
    width: calc((100% - 60px) / 3);
  }
  @include desktop {
    width: calc((100% - 150px) / 6);
  }
}
.customers__link {
  display: flex;
  max-width: 210px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: border-color var(--transition-hover), color var(--transition-hover);

  &:hover,
  &:focus {
    border-color: var(--hover-color);
    color: var(--hover-color);
  }
  @include tablet {
    max-width: 226px;
  }
  @include desktop {
    max-width: 170px;
  }
}
.customer__icon {
  fill: currentColor;
}
