.hero {
  background: var(--bg--section-dakr);
  padding: 118px 0;
  background-image: var(--bg-gradient), url(../images/hero-bg-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  @include retina {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-x2.jpg);
  }
  @include tablet {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-tab-x2.jpg);
    }
  }
  @include desktop {
    background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-x2.jpg);
    }
    padding: 200px 0;
    height: 600px;
  }
}
.hero__title {
  margin: 0 auto;
  max-width: 360px;
  font-weight: 900;

  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--main-bright-color);
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__button {
  margin: 0 auto;
}
.btn {
  display: block;
  padding: 10px 0;
  min-width: 200px;
  background: var(--hover-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-bright-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background var(--transition-hover);
  &:hover,
  &:focus {
    background: var(--main-btn-hover-color);
  }
  @include desktop {
    min-width: 216px;
  }
}
