.section {
  //   padding: 84px 0;
  padding-top: 84px;
  padding-bottom: 84px;
  @include tablet {
    padding: 60px 0;
  }
  @include desktop {
    padding: 94px 0;
  }
}

.title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--dakr-color);
  margin-bottom: 50px;
  @include desktop {
    font-size: 36px;
    line-height: 1.16;
  }
}
